* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 50vh;
  background: radial-gradient(circle, cyan, maroon);
  display: flex;
  justify-content: center;
  align-items: center;
}
output {
  margin-left: 10px;
}
